<div class="card">
    <div class="card-header" style="display: flex;justify-content: center;">
        <h1 class="display-4">Cálculo de Carga Térmica y Economía</h1>
    </div>
    <div class="card-body mb-4">
        <form action="/sistemas/carga" method="POST">
            <div class="row form-group mb-4">
                <div class="col">
                    <input class="form-control" type="number" step="0.01" name="area" placeholder="superficie m²">
                </div>
                <div class="col">
                    <input class="form-control" type="number" step="0.01" name="tempout"
                        placeholder="temperatura externa">
                </div>
                <div class="col">
                    <input class="form-control" type="number" step="0.01" name="tempin"
                        placeholder="temperatura interna">
                </div>
            </div>
            <div class="row form-group mb-4">
                <div class="col">
                    <input class="form-control" type="number" step="0.01" name="pessoas"
                        placeholder="cantidad de personas">
                </div>
                <div class="col">
                    <input class="form-control" type="number" step="0.01" name="tempo"
                        placeholder="duración de la estancia">
                </div>
            </div>
            <div class="row form-group mb-4">
                <div class="col">
                    <input class="form-control" type="number" step="0.01" name="lampadas"
                        placeholder="cantidad de lámparas">
                </div>
                <div class="col">
                    <input class="form-control" type="number" step="0.01" name="tempoLampada"
                        placeholder="tiempo encendido (h)">
                </div>
                <div class="col">
                    <input class="form-control" type="number" step="0.01" name="potencia"
                        placeholder="potencia (kW)">
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Calcular!</button>
        </form>
        <hr>
        <%- include('carga') %> 
    </div>
</div>