<% if (locals.cargas) { %>
<div class="card">
    <div class="card-header">
        Resultado
    </div>
    <div class="card-body">
        <div class="row">
            <div class="card-body">
                <div class="card text-white bg-success mb-3">
                    <h3>Carga de Iluminación: <%= cargas.cargaIluminacao %> kWh/dia </h3>
                    <hr>
                    <h3>Carga de Gente: <%= cargas.cargaPessoas %> kWh/dia </h3>
                    <hr>
                    <h3>carga de Radiación: <%= cargas.cargaTransmissao %> kWh/dia </h3>
                    <hr>
                    <h3>Total: <%= cargas.total %> kWh/dia </h3>
                </div>
            </div>
        </div>
    </div>
</div>
<% } %>