body {
    background:url('./bg-env.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

  p{
    text-align: justify;
  }

  h3{
    text-align: center;
  }